/* src/styles/Login.css */

body {
  min-height: 100vh;
  background: rgb(247, 117, 107);
  background: linear-gradient(
    225deg,
    rgba(247, 117, 107, 1) 0%,
    rgba(251, 198, 115, 1) 70%
  );
  background-repeat: no-repeat;
  font-family: "roca", sans-serif;
  font-style: normal;
}

:root {
  --font-thin: 100;
  --font-regular: 400;
  --font-bold: 700;

  --font-h1: 4rem;
  --font-h2: 2.7rem;
  --font-h3: 2.2rem;
  --font-h4: 1.7rem;
  --font-p: 1.3rem;

  --clr-red: #f7756b;
  --clr-yellow: #fbc673;
  --clr-black: #000;
  --clr-grey: #4c4c4c;
  --clr-white: #fff;

  --box-shadow: rgba(0, 0, 0, 0.25);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

/* Generel button styling */

button {
  outline: none;
  border: none;
  text-align: center;
}

button:active {
  scale: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

body {
  min-height: 100vh;

  background-repeat: no-repeat;
}

/* Red Call-to-action button - For generel use */

.cta_red {
  background-color: var(--clr-red);
  border-radius: 10px;
  padding: 0.5rem 2.3rem;

  color: var(--clr-white);
  font-weight: var(--font-thin);

  box-shadow: 1px 4px 4px var(--box-shadow);
}

.cta_red:active {
  scale: 1.2;
}

h1 {
  font-size: var(--font-h1);
  font-weight: var(--font-bold);
}

h2 {
  font-size: var(--font-h2);
  font-weight: var(--font-bold);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-h4);
  font-weight: var(--font-thin);
}

p {
  font-size: var(--font-p);
  font-weight: var(--font-thin);
}

/* -----------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- */

/*Log In CSS start*/

.login-overskrift {
  text-align: center;
  margin-top: 10rem;
}

.login-overskrift h1 {
  font-size: var(--font-h1);
  font-weight: var(--font-bold);
  font-family: "roca", sans-serif;
  font-style: normal;
}

.login-overskrift p {
  font-size: var(--font-p);
  font-weight: var(--font-thin);
}

.login-overskrift a {
  color: var(--clr-black);
  font-weight: var(--font-bold);
}

input {
  padding: 1rem;
  border: var(--clr-grey) 1px solid;
  border-radius: 10px;
  width: 17rem;
}

.login-container {
  display: block;
  text-align: center;
  margin-top: 2rem;
}

.login-password h3 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 4rem;
}

.login-username h3 {
  text-align: left;
  margin-bottom: 0.5rem;
  margin-left: 4rem;
}

.login-button button {
  padding: 0.5rem;
  background-color: var(--clr-red);
  display: block;
  margin: -16rem auto;
  color: var(--clr-white);
  width: 13rem;
  border-radius: 10px;
  border: none;
  box-shadow: var(--box-shadow);
}

.login-button p {
  font-weight: var(--font-bold);
  font-size: var(--font-p);
}

.login-streg img {
  z-index: -1;
  position: relative;
  margin-top: -5rem;
  margin-left: -1rem;
  width: 26rem;
  height: 25rem;
}

/*Log In CSS slut*/

/*SignUp CSS start */

.signup-overskrift {
  text-align: center;
  margin-top: 5rem;
}

.signup-overskrift h1 {
  font-size: var(--font-h1);
  font-weight: var(--font-bold);
  font-family: "roca", sans-serif;
  font-style: normal;
}

.signup-overskrift p {
  font-size: var(--font-p);
  font-weight: var(--font-thin);
}

.signup-overskrift a {
  color: var(--clr-black);
  font-weight: var(--font-bold);
}

input {
  padding: 1rem;
  border: var(--clr-grey) 1px solid;
  border-radius: 10px;
  width: 17rem;
}

.signup-container {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.signup-password h3,
.signup-confirm-password h3,
.signup-call-you h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 4rem;
  font-weight: var(--font-regular);
  font-size: large;
}

.signup-email h3 {
  text-align: left;
  margin-bottom: 0.5rem;
  margin-left: 4rem;
  font-weight: var(--font-regular);
  font-size: large;
}

.signup-button button {
  padding: 0.5rem;
  background-color: var(--clr-red);
  display: block;
  margin: -9rem auto;
  color: var(--clr-white);
  width: 13rem;
  border-radius: 10px;
  border: none;
  box-shadow: var(--box-shadow);
}

.signup-button p {
  font-weight: var(--font-regular);
  font-size: var(--font-p);
}

.signup-streg img {
  z-index: -1;
  position: relative;
  margin-top: -13rem;
  width: 25rem;
  height: 25rem;
}

.signup-already-acc {
  z-index: 1;
  margin-top: 17rem;
  text-align: center;
}

.signup-already-acc a {
  color: var(--clr-black);
  font-weight: bold;
}

/*SignUp CSS slut */

/*Mindly Post start*/

.MindlyPost-Overskrift {
  margin: 0 auto;
  max-width: 23rem;
  display: block;
}

.MindlyPost-Overskrift h1 {
  font-size: var(--font-h4);
  font-weight: var(--font-bold);
  margin-top: 4rem;
  text-align: center;
}

.MindlyPost-UnderOverskrift {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 0 2.3rem 0 2.3rem;
}

.MindlyPost-UnderOverskrift p {
  font-size: var(--font-p);
  font-weight: lighter;
  margin-top: -13rem;
}

.MindlyPost-streg-box {
  display: flex;
  z-index: -1;
}

.MindlyPost-Hoejre img {
  width: 200px;
  margin-top: -11.5rem;
  height: 200px;
}

.MindlyPost-Venstre img {
  width: 70px;
  height: 350px;
  margin-top: -8rem;
  margin-left: 6.6rem;
  transform: rotate(-5deg);
}

.MindlyPost-Subject {
  display: block;
  text-align: center;
  margin-top: -6rem;
}

.MindlyPost-Subject h3,
.MindlyPost-Text h3 {
  text-align: left;
  margin-bottom: 0.5rem;
  margin-left: 2.5rem;
  font-weight: var(--font-thin);
  font-size: var(--font-h5);
}

.MindlyPost-Subject input {
  width: 20rem;
}

.MindlyPost-Text {
  display: block;
  text-align: center;
  margin-top: 2rem;
}

.MindlyPost-Text textarea {
  width: 20rem;
  height: 10rem;
  padding-top: 0.5rem; /* Ensure text starts near the top */
  padding-left: 1rem; /* Add some padding on the left */
  box-sizing: border-box; /* Ensure padding is part of the textarea size */
  resize: none; /* Optional: Disable resizing */
}

.MindlyPost-Text textarea::placeholder {
  font-size: 0.8rem;
}

.mindly-post-smiley-box h3 {
  text-align: left;
  margin-top: 1rem;
  font-weight: var(--font-thin);
  margin-left: 2.5rem;
  font-size: var(--font-h5);
}

.MindlyPost-Smiley-Container {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  position: relative;
  margin: 1rem auto; /* Adjusts margin with auto to horizontally center the container itself */
  background-color: white;
  padding: 0.8rem 0.4rem 0.4rem 0.4rem;
  width: 82%;
  border-radius: 10px;
}

.MindlyPost-Smiley {
  display: flex;
}

.MindlyPost-Smiley img {
  max-width: 50px;
  margin: 0 0.3rem;
}

.MindlyPost-PostKnap button {
  padding: 0.5rem;
  background-color: var(--clr-red);
  display: block;
  margin: 1rem auto;
  color: var(--clr-white);
  width: 13rem;
  border-radius: 10px;
  border: none;
  box-shadow: var(--box-shadow);
}

.MindlyPost-PostKnap p {
  font-weight: var(--font-bold);
  font-size: var(--font-p);
}

.MindlyPost-AddPhoto {
  margin-top: 2rem;
}

.MindlyPost-AddPhoto h4 {
  text-align: left;
  margin-bottom: 0.5rem;
  margin-left: 2.5rem;
  font-weight: var(--font-thin);
  font-size: var(--font-h5);
}

.MindlyPost-AddPhoto img {
  width: 20%;
  margin-left: 2.5rem;
  height: 70px;
}

/*Mindly Post Slut*/

/* Home CSS */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh; /* Juster højde så den ikke fylder hele skærmen */
  padding-bottom: 50px;
  position: relative; /* Gør det muligt at bruge z-index og overlappe den hvide sektion */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Bottom shadow */
  z-index: 1; /* Placerer containeren foran den hvide sektion */
  border-radius: 0 0 50px 50px; /* Buer på de nederste hjørner */
  background: rgb(247, 117, 107);
  background: linear-gradient(
    225deg,
    rgba(247, 117, 107, 1) 0%,
    rgba(251, 198, 115, 1) 70%
  );
}

.home-container h1 {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}

.home-container h2 {
  margin-top: 1rem;
  font-size: var(--font-h4);
  font-weight: var(--font-regular);
  margin-bottom: 0.5rem;
}

.home-container p {
  font-size: var(--font-p);
  font-weight: var(--font-thin);
  text-align: center;
  max-width: 80%;
  line-height: 1.5;
  margin-bottom: 3rem; /* Giver plads til den nye sektion */
}

.home-image {
  max-width: 100%; /* Sørger for at billedet tilpasser sig containerens bredde */
  height: auto; /* Bevarer billedets proportioner */
  margin-top: -9.5rem; /* Tilføjer lidt plads over billedet */
}

/* Sektion med hvid baggrund */
.latest-mindly-section {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.latest-mindly-section h3 {
  font-size: var(--font-h3);
  color: var(--clr-black);
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}

.mindly-box {
  display: flex; /* Brug flexbox for at placere den mindre boks ved siden af teksten */
  align-items: flex-start; /* Juster elementerne i toppen */
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Let skygge */
  width: 90%;
  max-width: 600px;
  margin: 0 auto; /* Centrering */
  text-align: left;
}

.small-box {
  width: 200px; /* Juster bredden på den mindre boks */
  height: 80px; /* Juster højden på den mindre boks */

  background: linear-gradient(
    225deg,
    rgba(247, 117, 107, 1) 0%,
    rgba(251, 198, 115, 1) 70%
  );
  border-radius: 8px; /* Rundede hjørner */
  margin-right: 1rem; /* Plads mellem den mindre boks og teksten */
  display: flex; /* Brug flexbox for at centrere indholdet */
  flex-direction: column; /* Stak indholdet lodret */

  align-items: center; /* Centrér indholdet vandret */
}

.mindly-text {
  flex-grow: 1; /* Gør teksten fleksibel for at fylde det resterende rum */
  position: relative; /* Gør det muligt at positionere det lille billede i forhold til tekstområdet */
}

.small-image {
  position: absolute; /* Absolut positionering for at placere billedet */
  top: 1px; /* Juster afstand fra toppen */
  right: 1px; /* Juster afstand fra højre side */
  width: 20px; /* Juster bredde efter behov */
  height: auto; /* Bevar proportioner */
}

.mindly-box h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: var(--font-bold);
}

.mindly-box h3 {
  font-size: 1rem;
  font-weight: var(--font-thin);
  color: var(--clr-grey);
  line-height: 1.5;
}

.small-box-content {
  text-align: center; /* Centrer tekst inde i small-box */
}

.small-box-header {
  margin-top: 0.5rem;
  font-size: 1.2rem; /* Størrelse for "OCT" */
  font-weight: bold; /* Gør teksten fed */
}

.small-box-number {
  margin-top: 0.8rem;
  font-size: 1.5rem; /* Størrelse for "10" */
  font-weight: bold; /* Gør teksten fed */
}
/* Home Slut */
