/* src/styles/Login.css */

body {
  min-height: 100vh;
  background: rgb(247, 117, 107);
  background: linear-gradient(
    225deg,
    rgba(247, 117, 107, 1) 0%,
    rgba(251, 198, 115, 1) 70%
  );
  background-repeat: no-repeat;
  font-family: "roca", sans-serif;
  font-style: normal;
}

:root {
  --font-thin: 100;
  --font-regular: 400;
  --font-bold: 700;

  --font-h1: 4rem;
  --font-h2: 2.7rem;
  --font-h3: 2.2rem;
  --font-h4: 1.7rem;
  --font-p: 1.3rem;

  --clr-red: #f7756b;
  --clr-yellow: #fbc673;
  --clr-black: #000;
  --clr-grey: #4c4c4c;
  --clr-white: #fff;

  --box-shadow: rgba(0, 0, 0, 0.25);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Log In CSS start*/

.login-overskrift {
  text-align: center;
  margin-top: 10rem;
}

.login-overskrift h1 {
  font-size: var(--font-h1);
  font-weight: var(--font-bold);
  font-family: "roca", sans-serif;
  font-style: normal;
}

.login-overskrift p {
  font-size: var(--font-p);
  font-weight: var(--font-thin);
}

.login-overskrift a {
  color: var(--clr-black);
  font-weight: var(--font-bold);
}

input {
  padding: 1rem;
  border: var(--clr-grey) 1px solid;
  border-radius: 10px;
  width: 17rem;
}

.login-container {
  display: block;
  text-align: center;
  margin-top: 2rem;
}

.login-password h3 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 4rem;
}

.login-username h3 {
  text-align: left;
  margin-bottom: 0.5rem;
  margin-left: 4rem;
}

.login-button button {
  padding: 0.5rem;
  background-color: var(--clr-red);
  display: block;
  margin: -16rem auto;
  color: var(--clr-white);
  width: 13rem;
  border-radius: 10px;
  border: none;
  box-shadow: var(--box-shadow);
}

.login-button p {
  font-weight: var(--font-bold);
  font-size: var(--font-p);
}

.login-streg img {
  z-index: -1;
  position: relative;
  margin-top: -5rem;
  margin-left: -1rem;
  width: 26rem;
  height: 25rem;
}

/*Log In CSS slut*/

/*SignUp CSS start */

.signup-overskrift {
  text-align: center;
  margin-top: 5rem;
}

.signup-overskrift h1 {
  font-size: var(--font-h1);
  font-weight: var(--font-bold);
  font-family: "roca", sans-serif;
  font-style: normal;
}

.signup-overskrift p {
  font-size: var(--font-p);
  font-weight: var(--font-thin);
}

.signup-overskrift a {
  color: var(--clr-black);
  font-weight: var(--font-bold);
}

input {
  padding: 1rem;
  border: var(--clr-grey) 1px solid;
  border-radius: 10px;
  width: 17rem;
}

.signup-container {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.signup-password h3,
.signup-confirm-password h3,
.signup-call-you h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 4rem;
  font-weight: var(--font-regular);
}

.signup-email h3 {
  text-align: left;
  margin-bottom: 0.5rem;
  margin-left: 4rem;
  font-weight: var(--font-regular);
}

.signup-button button {
  padding: 0.5rem;
  background-color: var(--clr-red);
  display: block;
  margin: -9rem auto;
  color: var(--clr-white);
  width: 13rem;
  border-radius: 10px;
  border: none;
  box-shadow: var(--box-shadow);
}

.signup-button p {
  font-weight: var(--font-bold);
  font-size: var(--font-p);
}

.signup-streg img {
  z-index: -1;
  position: relative;
  margin-top: -13rem;
  width: 25rem;
  height: 25rem;
}

.signup-already-acc {
  z-index: 1;
  margin-top: 14rem;
  text-align: center;
}

.signup-already-acc a {
  color: var(--clr-black);
}

/*SignUp CSS slut */

/*Mindly Post start*/

.MindlyPost-Overskrift {
  margin: 0 auto;
  max-width: 23rem;
  display: block;
}

.MindlyPost-Overskrift h1 {
  font-size: var(--font-h4);
  font-weight: var(--font-bold);
  margin-top: 4rem;
  text-align: center;
}

.MindlyPost-UnderOverskrift {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 0 2.3rem 0 2.3rem;
}

.MindlyPost-UnderOverskrift p {
  font-size: var(--font-p);
  font-weight: lighter;
  margin-top: -13rem;
}

.MindlyPost-streg-box {
  display: flex;
  z-index: -1;
}

.MindlyPost-Hoejre img {
  width: 200px;
  margin-top: -11.5rem;
  height: 200px;
}

.MindlyPost-Venstre img {
  width: 70px;
  height: 350px;
  margin-top: -8rem;
  margin-left: 6.6rem;
  transform: rotate(-5deg);
}

.MindlyPost-Subject {
  display: block;
  text-align: center;
  margin-top: -6rem;
}

.MindlyPost-Subject h3,
.MindlyPost-Text h3 {
  text-align: left;
  margin-bottom: 0.5rem;
  margin-left: 2.5rem;
  font-weight: var(--font-thin);
}

.MindlyPost-Subject input {
  width: 20rem;
}

.MindlyPost-Text {
  display: block;
  text-align: center;
  margin-top: 2rem;
}

.MindlyPost-Text textarea {
  width: 20rem;
  height: 10rem;
  padding-top: 0.5rem; /* Ensure text starts near the top */
  padding-left: 1rem; /* Add some padding on the left */
  box-sizing: border-box; /* Ensure padding is part of the textarea size */
  resize: none; /* Optional: Disable resizing */
}

.MindlyPost-Text textarea::placeholder {
  font-size: 0.8rem;
}

.mindly-post-smiley-box h3 {
  text-align: left;
  margin-top: 1rem;
  font-weight: var(--font-thin);
  margin-left: 2.5rem;
}

.MindlyPost-Smiley-Container {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  position: relative;
  margin: 1rem auto; /* Adjusts margin with auto to horizontally center the container itself */
  background-color: white;
  padding: 0.8rem 0.4rem 0.4rem 0.4rem;
  width: 82%;
  border-radius: 10px;
}

.MindlyPost-Smiley img {
  max-width: 50px;
  margin: 0 0.3rem;
}

.MindlyPost-PostKnap button {
  padding: 0.5rem;
  background-color: var(--clr-red);
  display: block;
  margin: 1rem auto;
  color: var(--clr-white);
  width: 13rem;
  border-radius: 10px;
  border: none;
  box-shadow: var(--box-shadow);
}

.MindlyPost-PostKnap p {
  font-weight: var(--font-bold);
  font-size: var(--font-p);
}

.MindlyPost-AddPhoto {
  margin-top: 2rem;
}

.MindlyPost-AddPhoto h4 {
  text-align: left;
  margin-bottom: 0.5rem;
  margin-left: 2.5rem;
  font-weight: var(--font-thin);
}

.MindlyPost-AddPhoto img {
  width: 20%;
  margin-left: 2.5rem;
  height: 70px;
}

/*Mindly Post Slut*/
